body {
  background-image: url("https://unsplash.com/photos/o4c2zoVhjSw");
  background-size: cover ;
  background-repeat: no-repeat;
  background-color: #34362F;
  color: #C99946;
  font-family: 'Fjalla One', sans-serif;
  padding-bottom: 5px;
  
}


h3 {
  margin: 2px;
}
.saved-list {
  margin-bottom: 4px;
}

.card-body {
  border-radius: 5px;
  background-color: #A59E69;
}

.list-group-item {
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.article {
  border-radius: 5px;
}


h1.searchResults {
  background-color: blue;
  margin: 4px;
  background-color: #C05934;
}

.searchResults {
  border-radius: 5px;
}