.jumbotron {
    justify-content: center;
    font-size: 60px;
    background-image: transparent;
    /* background-image: url("./eli-francis-_M-DrbiNFa4-unsplash.jpg"); */
    background-color: transparent; /* #57897B */
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-size: cover;
    text-align: initial;
    background-position: center;
}

h1.jumbo{
    text-shadow: 2px 2px #34362F;
    font-size: 50px;
    color: #C05934;
    font-family: 'Fjalla One', sans-serif;
    
}