form {
    background:#1D354B;
    margin: 20px;
    padding: 5px;
    color: #C99946;

}

input {
    background-color:#C99946;
}

.GoogleBookSearchLabel {
    margin-left: 15px;
    margin-top: 10px;
}

.form-control {
    width: 90%;
    margin-left: 15px;
}